@import url('https://fonts.googleapis.com/css2?family=Gasoek+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-cobalt-blue: #1f3fc3;
  --color-light-cream: #efefdc;

  --font-gasoek-one: "Gasoek One", sans-serif; 
  --font-montserrat: "Montserrat", sans-serif; 
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: #efefdc;
  color: #1f3fc3;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}